<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property resource="config.properties"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <file>${logDir}/system.log</file>
        <encoder>
            <pattern>%date [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/system-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <filter class="com.commons.log.LogbackLevelFilter">
            <level>DEBUG</level>
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <file>${logDir}/error.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/system-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <filter class="com.commons.log.LogbackLevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <!-- 本地执行的时候需添加 -Dlogback.env=local 参数，否则日志不会打印在控制台 -->
    <root level="${logLevel}">
        <if condition='property("logback.env").contains("local")'>
            <then>
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="FILE"/>
                <appender-ref ref="ERROR_FILE"/>
            </then>
            <else>
                <appender-ref ref="FILE"/>
                <appender-ref ref="ERROR_FILE"/>
            </else>
        </if>
    </root>

</configuration>